@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
  color: #fff;
}

#root {
	background-color: #111118;
	width: 100vw;
	min-height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  border-bottom: 1px solid #e5e8eb27;
  height: 65px;
}

header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  column-gap: 8px;
}

header .logo img {
  height: 24px;
  width: 24px;
}

header .navigation{
  display: flex;
  column-gap: 24px;
  
}

header .navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 0.9rem;
}

header .nav-button{
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #7a7a7a;
  border-radius: 8px;
  font-size: 0.9rem;
}
