@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
	color: #fff;
}

#root {
	background-color: #111118;
	min-height: 100vh;
	padding-bottom: 30px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px 0 40px;
	border-bottom: 1px solid #e5e8eb27;
	height: 65px;
}

header .logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	column-gap: 16px;
}

header .logo img {
	height: 24px;
	width: 24px;
}

header .navigation {
	display: flex;
	column-gap: 24px;
}

header .navigation a {
	text-decoration: none;
	color: #ffffffa1;
	font-weight: 400;
	font-size: 0.9rem;
}

header .navigation a:hover {
	color: #fff;
}

header .nav-button {
	text-decoration: none;
	color: #ffffffa1;
	padding: 8px 16px;
	border: 1px solid #ffffffa1;
	border-radius: 8px;
	font-size: 0.9rem;
}

header .nav-button:hover {
	border-color: #fff;
	color: #fff;
}

.form-container {
	width: fit-content;
	margin: 80px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 16px;
}

.form-container h2 {
	text-align: center;
}

.form-container form input {
	background-color: #292938;
	border: none;
	border-radius: 6px;
	height: 44px;
	width: 360px;
	margin-bottom: 8px;
	padding: 0 16px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
}

.form-container form input::placeholder {
	color: #ffffff96;
	font-size: 12px;
	font-weight: 500;
}

.form-container form button {
	height: 44px;
	width: 100%;
	border-radius: 6px;
	border: none;
	background-color: #1919e6;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.2px;
	margin-top: 8px;
}

.form-container p {
	color: #ffffff96;
	font-size: 12px;
}

.form-container p a {
	text-decoration: none;
	color: #1919e6;
}

p.text-forgot-password {
	text-align: right;
	margin: 12px 0;
}

p.text-forgot-password a {
	color: #ffffff96;
}

p.text-forgot-password a:hover {
	color: #1919e6;
}

section.hero {
	height: fit-content;
	background-image: url("./assets/hero-img.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 12px;
	margin: 4px 32px 0;
}
div.l-gradient {
	height: 32vw;
	background-image: linear-gradient(to top, #000000c5, #ffffff00);
	padding: 32px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-radius: 12px;
	display: flex;
	justify-content: flex-end;
}

div.l-gradient h1 {
	font-weight: 900;
}

div.l-gradient p {
	color: #ffffff96;
	font-size: 0.85rem;
	width: 45%;
}

div.hero-action {
	display: flex;
	column-gap: 10px;
}

div.hero-action button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 3px;
	color: #fff;
}

button.play {
	background-color: #1919e6;
	display: flex;
	justify-content: center;
	align-items: center;
}

button.more-info {
	background-color: #79797967;
}

/* button.play::before{
	content: url('./assets/icons8-play-30.png');
	display: inline-block;
	width: 6px;
	height: 6px;
} */

section.content-movies {
	overflow: hidden;
	margin: 4px 32px 0;
}

h5.carousel-title {
	padding: 20px 16px 12px 0;
	font-size: 1.4rem;
}

div.cards-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 12px;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-width: none;
	font-size: 0.8rem;
}

div.cards-container .card {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
}

div.cards-container .card-img {
	border: none;
	border-radius: 8px;
	width: 160px;
	height: 213px;
}
